.nav {
  font-style: italic;
  color: #000;
}
#navigation {
  font-size: 2rem;
  border: 1px solid red;
}
ul {
  font-style: italic;
  color: #000;
  background: red;
}
a {
  font-size: 2rem;
  border: 1px solid red;
}
ul a {
  font-style: italic;
  color: #000;
  font-size: 2rem;
  border: 1px solid red;
}
.link-btn {
  font-size: 1rem;
  background: #fff;
  color: green;
}
.link-btn2 {
  font-size: 2rem;
  font-weight: 500;
}
.link-btn2:hover {
  background: purple;
  font-size: 20px;
}
.link-btn2_1 {
  font-size: 2rem !important;
  font-weight: 500 !important;
}
.link-btn2_1:hover {
  background: purple !important;
  font-size: 20px !important;
}
.link-btn {
  font-size: 2rem;
  font-weight: 500;
}
.link-btn:hover {
  background: purple;
  font-size: 20px;
}
